<app-menu></app-menu>
<table class="table table-sm">
    <thead>
        <tr>
            <th><button (click) = "sortFn('id')" class = "btn btn-link">Id</button></th>
            <th><button (click) = "sortFn('description')" class = "btn btn-link">Description</button></th>           
            <th><button (click) = "sortFn('status')" class = "btn btn-link">Status</button></th>
            <th><button (click) = "sortFn('total')" class = "btn btn-link">Total</button></th>
            <th><button (click) = "sortFn('userId')" class = "btn btn-link">User</button></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>           
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user?.username}}</td>
            <td>               
                <a routerLink="/review/item/{{request.id}}" style="text-decoration: underline; color: blue;">Review</a>
            </td>
        </tr>
    </tbody>
</table> 