<app-menu></app-menu>
<table class="table table-sm">
    <thead>
        <tr>
            <th><button (click) = "sortFn('id')" class = "btn btn-link">Id</button></th>
            <th><button (click) = "sortFn('description')" class = "btn btn-link">Description</button></th>           
            <th><button (click) = "sortFn('status')" class = "btn btn-link">Status</button></th>
            <th><button (click) = "sortFn('total')" class = "btn btn-link">Total</button></th>
            <th><button (click) = "sortFn('userId')" class = "btn btn-link">User</button></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>           
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user?.username}}</td>
            <span>
                
                <button style="text-decoration: underline; color: blue; border-width: 0px; padding: 0px; background-color: white; font-weight: normal;"   (click)="review()">Review</button>
            </span>
        </tr>
    </tbody>
</table>    
<table class="table table-sm">
    <thead>
        <tr>
            <th><button style="padding-top: 24px;" (click) = "sortFn('id')" class = "btn btn-link">Id</button></th>
            <th><button style="padding-top: 24px;" (click) = "sortFn('productId')" class = "btn btn-link">Product Name</button></th>
            <th><button style="padding-top: 24px;" (click) = "sortFn('quantity')" class = "btn btn-link">Quantity</button></th>
            <th><button style="padding-top: 24px;" (click) = "sortFn('price')" class = "btn btn-link">Price</button></th>          
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let line of request.requestLines">
            <td>{{line.id}}</td>
            <td>{{line.product?.name}}</td>
            <td>{{line.quantity}}</td>
            <td>{{line.product?.price}}</td>
            <td>
                <span>
                    <a routerLink="/requestLines/edit/{{line.id}}">Edit</a>
                </span>
                <span> | </span>
                <span>
                    <a routerLink="/requestLines/detail/{{line.id}}">Detail</a>
                </span>
            </td> 
            
        </tr>
    </tbody>
</table>
<a routerLink="/requestLines/create/{{request.id}}">Create</a>