<app-menu></app-menu>
<div>
    <input [(ngModel)]="searchCrit" type="text" placeholder="Search">
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th><button (click) = "sortFn('description')" class = "btn btn-link">Description</button></th>
            <th><button (click) = "sortFn('justification')" class = "btn btn-link">Justification</button></th>
            <th><button (click) = "sortFn('deliveryMode')" class = "btn btn-link">DeliveryMode</button></th>
            <th><button (click) = "sortFn('status')" class = "btn btn-link">Status</button></th>
            <th><button (click) = "sortFn('total')" class = "btn btn-link">Total</button></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let r of requests | searchRequest:searchCrit | sort:sortColumn:sortAsc">
            <td>{{r.description}}</td>
            <td>{{r.justification}}</td>
            <td>{{r.deliveryMode}}</td>
            <td>{{r.status}}</td>           
            <td>{{r.total}}</td>           
            <td>
                <span>
                    <a routerLink="/request/detail/{{r.id}}">Detail</a>
                </span>
                <span> | </span>
                <span>
                    <a routerLink="/request/edit/{{r.id}}">Edit</a>
                </span>
                <span> | </span>
                <span>
                    <a routerLink="/request/lines/{{r.id}}">Lines</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a routerLink="/request/create">Create</a>
</div>
